In [1]:
import pandas as pd
from funpymodeling import status
import matplotlib.pyplot as plt
import pickle

# 1. Cargar datos

In [2]:
data_train = pd.read_csv("../data/raw_data/train.csv" , sep=",", index_col=0)
data_train

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103899,94171,Female,disloyal Customer,23,Business travel,Eco,192,2,1,2,...,2,3,1,4,2,3,2,3,0.0,neutral or dissatisfied
103900,73097,Male,Loyal Customer,49,Business travel,Business,2347,4,4,4,...,5,5,5,5,5,5,4,0,0.0,satisfied
103901,68825,Male,disloyal Customer,30,Business travel,Business,1995,1,1,1,...,4,3,2,4,5,5,4,7,14.0,neutral or dissatisfied
103902,54173,Female,disloyal Customer,22,Business travel,Eco,1000,1,1,1,...,1,4,5,1,5,4,1,0,0.0,neutral or dissatisfied
103903,62567,Male,Loyal Customer,27,Business travel,Business,1723,1,3,3,...,1,1,1,4,4,3,1,0,0.0,neutral or dissatisfied

In [3]:
data_test = pd.read_csv("../data/raw_data/test.csv" , sep=",", index_col=0)
data_test

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,3,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,2,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,4,...,2,2,2,2,4,2,4,0,20.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,78463,Male,disloyal Customer,34,Business travel,Business,526,3,3,3,...,4,3,2,4,4,5,4,0,0.0,neutral or dissatisfied
25972,71167,Male,Loyal Customer,23,Business travel,Business,646,4,4,4,...,4,4,5,5,5,5,4,0,0.0,satisfied
25973,37675,Female,Loyal Customer,17,Personal Travel,Eco,828,2,5,1,...,2,4,3,4,5,4,2,0,0.0,neutral or dissatisfied
25974,90086,Male,Loyal Customer,14,Business travel,Business,1127,3,3,3,...,4,3,2,5,4,5,4,0,0.0,satisfied
25975,34799,Female,Loyal Customer,42,Personal Travel,Eco,264,2,5,2,...,1,1,2,1,1,1,1,0,0.0,neutral or dissatisfied

In [4]:
all_data = pd.concat([data_train,data_test], axis = 0)

In [5]:
all_data.head(5)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [6]:
all_data.tail(5)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
25971,78463,Male,disloyal Customer,34,Business travel,Business,526,3,3,3,...,4,3,2,4,4,5,4,0,0.0,neutral or dissatisfied
25972,71167,Male,Loyal Customer,23,Business travel,Business,646,4,4,4,...,4,4,5,5,5,5,4,0,0.0,satisfied
25973,37675,Female,Loyal Customer,17,Personal Travel,Eco,828,2,5,1,...,2,4,3,4,5,4,2,0,0.0,neutral or dissatisfied
25974,90086,Male,Loyal Customer,14,Business travel,Business,1127,3,3,3,...,4,3,2,5,4,5,4,0,0.0,satisfied
25975,34799,Female,Loyal Customer,42,Personal Travel,Eco,264,2,5,2,...,1,1,2,1,1,1,1,0,0.0,neutral or dissatisfied

In [7]:
status(all_data)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,id,0,0.000000,0,0.000000,129880,int64
1,Gender,0,0.000000,0,0.000000,2,object
2,Customer Type,0,0.000000,0,0.000000,2,object
3,Age,0,0.000000,0,0.000000,75,int64
4,Type of Travel,0,0.000000,0,0.000000,2,object
5,Class,0,0.000000,0,0.000000,3,object
6,Flight Distance,0,0.000000,0,0.000000,3821,int64
7,Inflight wifi service,0,0.000000,3916,0.030151,6,int64
8,Departure/Arrival time convenient,0,0.000000,6681,0.051440,6,int64
9,Ease of Online booking,0,0.000000,5682,0.043748,6,int64
10,Gate location,0,0.000000,1,0.000008,6,int64
11,Food and drink,0,0.000000,132,0.001016,6,int64
12,Online boarding,0,0.000000,3080,0.023714,6,int64
13,Seat comfort,0,0.000000,1,0.000008,6,int64
14,Inflight entertainment,0,0.000000,18,0.000139,6,int64
15,On-board service,0,0.000000,5,0.000038,6,int64
16,Leg room service,0,0.000000,598,0.004604,6,int64
17,Baggage handling,0,0.000000,0,0.000000,5,int64
18,Checkin service,0,0.000000,1,0.000008,6,int64
19,Inflight service,0,0.000000,5,0.000038,6,int64
20,Cleanliness,0,0.000000,14,0.000108,6,int64
21,Departure Delay in Minutes,0,0.000000,73356,0.564798,466,int64
22,Arrival Delay in Minutes,393,0.003026,72753,0.560156,472,float64
23,satisfaction,0,0.000000,0,0.000000,2,object

# 2. Preparación de datos

In [8]:
data = all_data[['Age', 'Class', 'Inflight wifi service', 'Ease of Online booking', 'Seat comfort', 'Checkin service', 'satisfaction']].copy()
data

,Age,Class,Inflight wifi service,Ease of Online booking,Seat comfort,Checkin service,satisfaction
0,13,Eco Plus,3,3,5,4,neutral or dissatisfied
1,25,Business,3,3,1,1,neutral or dissatisfied
2,26,Business,2,2,5,4,satisfied
3,25,Business,2,5,2,1,neutral or dissatisfied
4,61,Business,3,3,5,3,satisfied
...,...,...,...,...,...,...,...
25971,34,Business,3,3,4,4,neutral or dissatisfied
25972,23,Business,4,4,4,5,satisfied
25973,17,Eco,2,1,2,5,neutral or dissatisfied
25974,14,Business,3,3,4,4,satisfied
25975,42,Eco,2,2,2,1,neutral or dissatisfied

In [9]:
status(data)

                 variable  q_nan  p_nan  q_zeros   p_zeros  unique    type
0                     Age      0    0.0        0  0.000000      75   int64
1                   Class      0    0.0        0  0.000000       3  object
2   Inflight wifi service      0    0.0     3916  0.030151       6   int64
3  Ease of Online booking      0    0.0     5682  0.043748       6   int64
4            Seat comfort      0    0.0        1  0.000008       6   int64
5         Checkin service      0    0.0        1  0.000008       6   int64
6            satisfaction      0    0.0        0  0.000000       2  object

In [10]:
data.rename(
    columns={
        "Inflight wifi service":"Wifi",
        "Ease of Online booking":"Booking",
        "Seat comfort":"Seat",
        "Checkin service":"Checkin"
    },
    inplace=True
)

data

       Age     Class  Wifi  Booking  Seat  Checkin             satisfaction
0       13  Eco Plus     3        3     5        4  neutral or dissatisfied
1       25  Business     3        3     1        1  neutral or dissatisfied
2       26  Business     2        2     5        4                satisfied
3       25  Business     2        5     2        1  neutral or dissatisfied
4       61  Business     3        3     5        3                satisfied
...    ...       ...   ...      ...   ...      ...                      ...
25971   34  Business     3        3     4        4  neutral or dissatisfied
25972   23  Business     4        4     4        5                satisfied
25973   17       Eco     2        1     2        5  neutral or dissatisfied
25974   14  Business     3        3     4        4                satisfied
25975   42       Eco     2        2     2        1  neutral or dissatisfied

[129880 rows x 7 columns]

In [11]:
class_map = {"neutral or dissatisfied":0,"satisfied":1}
data["satisfaction"]=data["satisfaction"].map(class_map)

In [12]:
data_ohe = pd.get_dummies(data)
data_ohe

,Age,Wifi,Booking,Seat,Checkin,satisfaction,Class_Business,Class_Eco,Class_Eco Plus
0,13,3,3,5,4,0,False,False,True
1,25,3,3,1,1,0,True,False,False
2,26,2,2,5,4,1,True,False,False
3,25,2,5,2,1,0,True,False,False
4,61,3,3,5,3,1,True,False,False
...,...,...,...,...,...,...,...,...,...
25971,34,3,3,4,4,0,True,False,False
25972,23,4,4,4,5,1,True,False,False
25973,17,2,1,2,5,0,False,True,False
25974,14,3,3,4,4,1,True,False,False
25975,42,2,2,2,1,0,False,True,False

# 3. Modelo de Clasificación

In [13]:
x_data = data_ohe.drop("satisfaction", axis=1)
y_data = data_ohe["satisfaction"]

In [14]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.3)

In [15]:
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier(n_estimators=5000, random_state=19)

rf_model.fit(x_train,y_train)

RandomForestClassifier(n_estimators=5000, random_state=19)

# 4. Save model  and ohe_columns

In [16]:
pickle.dump(x_data.columns,open("ohe_categories.pkl","wb"),protocol=pickle.HIGHEST_PROTOCOL)

In [17]:
pickle.dump(rf_model,open("model/rf.pkl","wb"))